# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

source/fonts/klinik/klinicslabmedium-webfont.eot
source/fonts/klinik/klinicslabmedium-webfont.svg
source/fonts/klinik/klinicslabmedium-webfont.ttf
source/fonts/klinik/klinicslabmedium-webfont.woff
source/fonts/nanami/NanamiLight.eot
source/fonts/nanami/NanamiLight.ttf
source/fonts/nanami/NanamiLight.woff
source/images/ui-s07ea90d6ec.png
source/js/contact.coffee
Gemfile.lock