meta property="og:title" content="Home"
meta property="og:type" content="website"
meta property="og:image" content="/assets/images/logo-mindresin.png"
meta property="og:url" content="http://mindres.in"
meta property="og:description" content=""

meta name="twitter:card" content="summary_large_image"
meta name="twitter:site" content="@telekineticyeti"
meta name="twitter:creator" content="@telekineticyeti"
meta name="twitter:url" content="http://mindres.in"
meta name="twitter:title" content="Home"
meta name="twitter:description" content=""
meta name="twitter:image:src" content="/assets/images/logo-mindresin.png"