// Color Palette
$orange				: #B25828
$beige				: #D2C6A6
$cream				: #EBDBB2
$chocolate			: #664726
$peach				: #E8B36D
$teal				: #006A67
$ocean				: #094E6B
$offBlack			: lighten(black, 30%)
$offWhite			: darken(white, 3%)

// $sublimeGrey		: #262925
// $awYissCobalt		: #363640
$awYissStone		: #7E8693
// $awYissWool			: #EBEACE

$nanoTeal			: #18506B
$nanoPeach			: #E18C4B
$nanoOrange			: #C55D40
$nanoBlush			: #E47468
$nanoWhite			: #FEFEFF

// Variables
$default-transition-duration : 350ms

// Breakpoints
$mobile				: 480px
$tablet				: 700px
$desktop			: 900px

// Image Sprites
@import "sprites"

// Normalize v3.0.1
@import "_vendor/normalize"

// Personal library of useful mixins and extenders
@import "_vendor/resin"

@import "compass/css3/box-shadow"
@import "compass/css3/transition"
@import "compass/css3/text-shadow"
@import "compass/css3/font-face"
@import "compass/css3/transform"
@import "compass/css3/filter"
@import "compass/css3/border-radius"
@import "susy"
@import "breakpoint"

@import "_typography"
@import "_structure"
@import "_sidebar"
@import "_logo"
@import "_navigation"
@import "_page_home"
@import "_page_about"
@import "_page_portfolio"
@import "_page_contact"
@import "_page_blog"

// Stylesheet for  http://responsiveslides.com v1.54 by @viljamis
@import "_vendor/responsiveslider"